<%
   locals.PAGE_ID = 'blogs';

   locals.PAGE_DESCRIPTION = "Explore our vision. Strategy for produce efficient products and stay up to date with the latest news.";
   locals.PAGE_KEYWORDS = [
      "Developar Blogs",
      "Developar Articles",
      "Developar News",
      "Developar Latest"
   ];
%>

<%- include('../partials/_header', { raised: true, PAGE_ROUTE }); %>


<main>
   <section id="blogs">
      <header class="hero-title">
         <h1>All stories</h1>
      </header>
   </section>
</main>
