<style type="text/css">
    footer {
       margin-top: 1em;
       background-color: #FFF;
    }
 
    footer .title,
    footer .content {
       margin-left: auto;
       margin-right: auto;
       width: 65%;
    }
 
    footer .title {
       display: block;
       padding: 1em;
       color: #666;
    }
 
    footer .content {
       display: flex;
       flex-direction: row;
       height: auto;
    }
 
    footer .content .primary-area {
       width: 60%;
    }
 
    footer .content .secondary-area {
       width: 30%;
    }
 
    footer .content .quick-links {
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
    }
 
    footer .content .quick-links .link-group {
       min-width: 8em;
    }
 
    footer .content .quick-links .group-name {
       color: #444;
    }
 
    footer .content .quick-links ul {
       margin: 0;
       padding: 0;
       font-family: var(--pfont);
    }
 
    footer .content .quick-links ul li {
       display: flex;
       align-items: center;
       flex: 1;
    }
 
    footer .content .quick-links ul li a {
       display: block;
       padding: 12px;
       color: #555;
    }
 
    footer .content .quick-links ul li a:hover {
       color: var(--pcolor);
    }
 
    footer .copyright-info {
       padding: 12px;
    }
 
    @media screen and (max-width: 767px) {
 
       footer .title,
       footer .content {
          width: 90%;
       }
 
       footer .content {
          flex-direction: column-reverse;
       }
 
       footer .content .primary-area,
       footer .content .secondary-area {
          width: 100%;
       }
 
       footer .content .quick-links {
          justify-content: flex-start;
       }
    }
 </style>
 
 <footer>
    <!-- Title -->
    <div class="title" data-aos="fade-up" data-aos-delay="60">
       <h1>DevelopAR</h1>
    </div>
 
    <!-- Container -->
    <div class="content" data-aos="fade-up" data-aos-delay="100">
 
       <!-- Quick links -->
       <div class="primary-area quick-links">
          <div class="common-links link-group">
             <h4 class="group-name">&nbsp;</h4>
 
             <ul>
                <li><a href="http://developar.in">Home</a></li>
                <li><a href="http://developar.in/services">Services</a></li>
                <li><a href="http://developar.in/pricing">Pricing</a></li>
                <li><a href="http://developar.in/career">Career</a></li>
                <li><a href="http://developar.in/contact">Contact</a></li>
                <li><a href="http://about.developar.in">About</a></li>
             </ul>
          </div>
          <div class="policy-links link-group">
             <h4 class="group-name">&nbsp;</h4>
 
             <ul>
                <li><a href="http://developar.in/privacy">Privacy Policy</a></li>
                <li><a href="http://developar.in/terms">Terms and conditions</a></li>
             </ul>
          </div>
       </div>
 
       <div class="secondary-area">
          <%- include('_footer_contact_info'); %>

          <% if (locals.DISABLE_NEWSLETTER == undefined) { %>
            <%- include('_newsletter'); %>
          <% } %>
       </div>
 
    </div>
 
    <!-- Copyright note -->
    <div class="copyright-info text-center">
       <p><small>Copyright &copy; 2020 Developar</small></p>
    </div>
 </footer>