<style type="text/css">
   footer .newsletter {
      padding-top: 12px;
      padding-bottom: 12px;
   }
   
   @media screen and (max-width: 400px) {
      footer .newsletter .combo-input .controller {
         min-width: 9.5em;
      }
   }
</style>

<div class="newsletter">
   <% if (locals.NO_LABEL == undefined) { %>
      <header class="scalable-y">
         <h6 class="text-blur">Subscribe for newsletter</h6>
      </header>
   <% } %>

   <form name="newsletter-form">
      <div class="combo-input">
         <input 
            type="email" 
            name="email" 
            id="subscribe-email-input" 
            class="controller" 
            placeholder="developar@example.com"
            autocomplete="email"
            autocapitalize="false"
            spellcheck="false"
            required />
         <button class="primary trigger" type="submit">Subscribe</button>
      </div>
   </form>

   <div id="newsletter-process-loader" hidden>
      <%- include('loader.ejs'); %>
   </div>
</div>

<script type="application/javascript">
   (function () {
      document.forms['newsletter-form'].addEventListener('submit', function(event) {
         event.preventDefault();
         const email = event.target.email.value;
         const loaderElement = document.getElementById('newsletter-process-loader');

         loaderElement.removeAttribute('hidden');

         submitPayload('/subscribe', { email })
         .then(function () {
            event.target.reset();
         })
         .finally(function () {
            loaderElement.setAttribute('hidden', '');
         })
      });
   }());
</script>