<style type="text/css">
   footer .newsletter {
      padding-top: 12px;
      padding-bottom: 12px;
   }
</style>

<div class="newsletter">
   <header class="scalable-y">
      <h6 class="text-blur">Subscribe for newsletter</h6>
   </header>

   <form name="newsletter-form">
      <div class="combo-input">
         <input 
            type="email" 
            name="email" 
            id="subscribe-email-input" 
            class="controller" 
            placeholder="developar@example.com"
            autocomplete="email" />
         <button class="primary trigger" type="submit">Subscribe</button>
      </div>
   </form>
</div>