<%- include('partials/_header', { raised: true }) %>

<!-- https://developarcdn.vercel.app/images/career-1474x1537-100kb.png -->

<main>
   <section id="career">
      <div class="hero note">
         <div class="content">
            <h1><span class="text-blur">Developar's</span>&nbsp;Career</h1>
            <p>
               DevelopAR not only acknowledges the difference but also celebrate 
               it, and strive for the benefits of our employees, product, and the 
               community.
            </p>
         </div>
      </div>

      <div class="hero full-image">
         <div class="image">
            <img src="/opportunity.jpg" alt="" />
         </div>
         <div class="detail">
            <h1>Opportunity</h1>
            <p>
               We are motivated by equal opportunity not basis on any color, 
               gender, nationality, disability, marital status, identity, religion, 
               community, citizenship, or else but the basis on the skills.
            </p>
         </div>
      </div>

      <div class="hero dual-module">
         <div class="image">
            <img src="/skills.jpg" alt="" />
         </div>
         <div class="detail">
            <h2>Skills</h2>
            <p>
               DevelopAR always welcomes new web or software developers, 
               and people who want to develop something new are always welcome.
            </p>
         </div>
      </div>

      <div class="hero dual-module">
         <div class="detail">
            <h1>Responsible</h1>
            <p>
               The real freedom of any individual can always be measured by 
               the amount of responsibility which he must assume for his welfare and security.
            </p>
         </div>
         <div class="image">
            <img src="/responsible.jpg" alt="" />
         </div>
      </div>
   </section>
</main>

<%- include('partials/_footer') %>