<%
   locals.PAGE_ID = 'contact';

   locals.PAGE_DESCRIPTION = "Tell your feedback or express your rate in a short message about our company.";
   locals.PAGE_KEYWORDS = [
      "Developar Contact",
      "Developar Feedback Form",
      "Developar Contact Form",
      "Developar Give Feedback"
   ];
%>

<style type="text/css">
   main section#contact {
      display: flex;
      padding-top: 2em;
      height: 80vh;
      justify-content: center;
   }

   main section#contact .content {
      padding: 1em 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;
      height: 29em;
      border-radius: 12px;
      box-shadow: 0 0 8px #CCC;
      background-color: #FFF;
   }

   main section#contact .content form {
      padding-top: 1.6em;
   }

   @media screen and (max-width: 1024px) {
      main section#contact .content {
         width: 70%;
      }
   }

   @media screen and (max-width: 767px) {
      main section#contact {
         height: 100vh;
      }

      main section#contact .content {
         padding: 0;
         height: 70vh;
         width: 90%;
      }

      @media (orientation: landscape) {
         main section#contact {
            height: 100vh;
         }

         main section#contact .content {
            height: 100%;
            width: 65%;
         }
      }
   }

   @media screen and (max-width: 400px) {
      main section#contact .content {
         width: 100%;
         border-radius: 0;
      }
   }
</style>

<%- include('./partials/_header', { raised: false, PAGE_ROUTE }); %>

<%- include('partials/_curve_bg', { className: 'contact' }) %>

<main>
   <section id="contact">
      <div class="wrapper content" data-aos="fade-up">
         <header class="text-center">
            <h1>Contact Us</h1>
            <p>We'd love to here from you</p>
         </header>

         <form name="contact-form">
            <div class="control-wrapper">
               <input 
                  type="text" 
                  name="name" 
                  id="name" 
                  placeholder="Fullname" 
                  title="Fullname" 
                  tabindex="1"
                  required />
            </div>

            <div class="control-wrapper">
               <input 
                  type="email" 
                  name="email" 
                  id="email" 
                  placeholder="Email address" 
                  title="Email address"
                  tabindex="2" 
                  required />
            </div>

            <div class="control-wrapper">
               <textarea 
                  name="message" 
                  id="message" 
                  placeholder="Your message" 
                  title="Your message" 
                  tabindex="3"
                  rows="3" 
                  required></textarea>
            </div>

            <div class="control-wrapper text-center">
               <button type="submit" class="primary" tabindex="4">Send</button>
            </div>
         </form>
      </div>
   </section>
</main>

<script type="application/javascript">
   (function () {
      document.forms['contact-form'].addEventListener('submit', function(event) {
         event.preventDefault();
         const form = event.target;
   
         const name = form.name.value;
         const email = form.email.value;
         const message = (form.message.value || '').trim();
   
         const payload = {
            name,
            email,
            message
         };
   
         // Initiate progress bar
         progressbar.show(false, 'white');
   
         submitPayload('/contact', payload)
         .then (function () {
            form.reset();
         })
         .finally(function () {
            // Unmount progress bar
            progressbar.hide();
         })
      });
   }());
</script>

<%- include('partials/_footer') %>