<%
   locals.PAGE_ID = 'contact';

   locals.PAGE_DESCRIPTION = "Tell your feedback or express your rate in a short message about our company.";
   locals.PAGE_KEYWORDS = [
      "Developar Contact",
      "Developar Feedback Form",
      "Developar Contact Form",
      "Developar Give Feedback"
   ];
%>

<style type="text/css">

   main section#contact {
      padding-bottom: 4rem;
      background-color: #F8F8F8;
   }

   main section#contact .container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
   }

   main section#contact .form-wrapper {
      min-width: 29em;
      padding: 22px 2em;
      border-radius: 8px;
      box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
      background-color: #FFF;
   }

   @media screen and (max-width: 1024px) {
      
   }

   @media screen and (max-width: 767px) {
      main section#contact .form-wrapper {
         width: 75%;
         min-width: unset;
      }
   }

   @media screen and (max-width: 400px) {

   }
</style>

<%- include('./partials/_header', { raised: true, PAGE_ROUTE }); %>

<main>
   <section id="contact">

      <header class="hero-title">
         <h1>We'd love to here from you</h1>
      </header>

      <div class="container">
         <div class="form-wrapper" data-aos="fade-up">
            <header class="text-cente">
               <h2>Contact Us</h2>
               <p>Need just a few</p>
            </header>
   
            <br />
            <form name="contact-form">
               <div class="control-wrapper">
                  <label for="name">Username</label>
                  <input 
                     type="text" 
                     name="name" 
                     id="name" 
                     title="Fullname" 
                     tabindex="1"
                     class="form-controller-outlined"
                     required />
               </div>
   
               <div class="control-wrapper">
                  <label for="email">Email address</label>
                  <input 
                     type="email" 
                     name="email" 
                     id="email" 
                     title="Email address"
                     tabindex="2" 
                     required />
               </div>
   
               <div class="control-wrapper">
                  <label for="message">Your message</label>
                  <textarea 
                     name="message" 
                     id="message" 
                     title="Your message" 
                     tabindex="3"
                     rows="3" 
                     required></textarea>
               </div>
   
               <div class="control-wrapper text-cente">
                  <button type="submit" class="primary" tabindex="4">Send</button>
               </div>

               <div>
                  <p>
                     <small><span class="text-blur">Read our</span>&nbsp;<a href="/privacy" target="_blank">Privacy Policy</a></small>
                  </p>
               </div>
            </form>
         </div>

      </div>
   </section>
</main>

<script type="application/javascript">
   (function () {
      document.forms['contact-form'].addEventListener('submit', function(event) {
         event.preventDefault();
         const form = event.target;
   
         const name = form.name.value;
         const email = form.email.value;
         const message = (form.message.value || '').trim();
   
         const payload = {
            name,
            email,
            message
         };
   
         // Initiate progress bar
         progressbar.show(true);
   
         submitPayload('/contact', payload)
         .then (function () {
            form.reset();
         })
         .finally(function () {
            // Unmount progress bar
            progressbar.hide();
         })
      });
   }());
</script>

<%- include('partials/_footer') %>