<style type="text/css">
   main section#init-step {
      display: flex;
      height: 60vh;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 15;
   }

   main section#init-step .wrapper.content {
      max-width: 30em;
   }

   main section#init-step .wrapper.content .actions {
      display: flex;
      padding: 1em 0;
      justify-content: center;
   }

   main section#init-step .wrapper.content h1,
   main section#init-step .wrapper.content p {
      color: #FFF;
   }

   main section#init-step .wrapper.content h1 {
      font-size: 3.4rem;
   }

   /* For tablets */
   @media screen and (max-width: 1024px) {
      main section#init-step {
         height: 35vh;
         flex-direction: column;
      }

      main section#init-step .wrapper.content {
         max-width: auto;
         padding: 1em 2em;
      }

      main section#init-step .wrapper.content h1 {
         font-size: 2.4em;
      }
   }

   @media screen and (min-width: 768px) and (max-width: 1023px) {
      main section#init-step {
         height: 50vh;
      }
   }

   @media screen and (max-width: 767px) {
      main section#init-step {
         height: 70vh;
      }
   }


   main section#get-started {
      display: flex;
      margin-top: 14em;
      height: 60vh;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   main section#get-started .wrapper.image {
      display: flex;
      justify-content: center;
   }

   main section#get-started .wrapper.image img {
      width: 26em;
   }

   main section#get-started .wrapper.content {
      max-width: 30em;
      padding: 2em 3em;
   }

   main section#get-started .wrapper.content h1 {
      font-size: 3.4rem;
   }

   @media screen and (max-width: 1024px) {
      main section#get-started {
         height: 40vh;
      }
      main section#get-started .wrapper.content {
         padding: 1em;
      }
   }

   /* For smartphones */
   @media screen and (max-width: 767px) {
      main section#get-started {
         height: 90vh;
         flex-direction: column;
      }

      main section#get-started .wrapper.image img {
         width: 16em;
         height: auto;
      }

      main section#get-started .wrapper.content {
         max-width: auto;
         padding: 1em;
      }

      main section#get-started .wrapper.content h1 {
         font-size: 2.4rem;
      }
   }
   @media screen and (max-width: 400px) {
      main section#get-started {
         height: auto;
      }
   }

   main section#third-step {
      display: flex;
      height: 60vh;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      background-color: #EEE;
   }

   main section#third-step .wrapper.image {
      display: flex;
      justify-content: center;
   }

   main section#third-step .wrapper.image img {
      width: 26em;
   }

   main section#third-step .wrapper.content {
      max-width: 30em;
      padding: 2em 3em;
   }

   main section#third-step .wrapper.content h1 {
      font-size: 3.4rem;
   }

   @media screen and (max-width: 1024px) {
      main section#third-step {
         height: 35vh;
      }
      main section#third-step .wrapper.content {
         padding: 1em;
      }
   }

   /* For smartphones */
   @media screen and (max-width: 767px) {
      main section#third-step {
         height: 80vh;
         flex-direction: column;
      }

      main section#third-step .wrapper.image img {
         width: 16em;
         height: auto;
      }

      main section#third-step .wrapper.content {
         max-width: auto;
         padding: 1em;
      }

      main section#third-step .wrapper.content h1 {
         font-size: 2.4rem;
      }

      @media (orientation: landscape) {
         main section#get-started {
            height: 120vh;
         }

         main section#third-step {
            height: 100vh;
         }
      }
   }
</style>

<%- include('partials/_header', { raised: false }) %>

<%- include('partials/_curve_bg', { className: 'home' }) %>

<main>
   <!-- Initial section -->
   <section id="init-step">
      <div class="wrapper content" data-aos="zoom-in">
         <h1>We make more<br /><span>discoverable</span> web</h1>
         <p>The Clients of DevelopAR have liked the services very much if you also want to take advantage of it,
            Develop your product now</p>
         <div class="actions">
            <a tabindex="7" type="button" class="icon white" href="#get-started"><i data-feather="chevron-down"></i></a>
         </div>
      </div>
   </section>

   <section id="get-started">
      <div class="wrapper image" data-aos="fade-up" data-aos-delay="60">
         <img src="https://developarcdn.vercel.app/images/emails-600x600-61kb.png" height="auto" alt="" />
      </div>
      <div class="wrapper content" data-aos="fade-up" data-aos-delay="80">
         <h1>Doing great things for you</h1>
         <p>The DevelopAR and the team will do their best for you to reach the heights of success</p>
         <br />
         <div class="scalable-x">
            <a href="/pricing" type="button" class="icon-button outline">
               <span class="label">Dive in pricing</span>
               <span class="ic"><i data-feather="chevron-right"></i></span>
            </a>
         </div>
      </div>
   </section>

   <section id="third-step" data-aos="fade-up">
      <div class="wrapper image">
         <img src="https://developarcdn.vercel.app/images/workflow-627x585-24kb.png" height="auto" alt="" />
      </div>
      <div class="wrapper content">
         <h1>Experts in marketing</h1>
         <p>We extend your product's boundary that people can easily reach out to your service.</p>
      </div>
   </section>

</main>

<%- include('partials/_footer') %>