<% 
   /** 
    * For entire site
    * @type {Array<string>}
    */
   const GLOBAL_KEYWORDS = ['Developar', 'Developar Company'];

   /**
    * Check string type existance
    * @param {string} property - Property name
    * @returns {boolean}
    */
   function existsStringValue (property) {
      return (typeof locals[property] === 'string' && locals[property].length > 0);
   }

   /**
    * Check array type existance
    * @param {string} property - Property name
    * @returns {boolean}
    */
   function existsArrayValue (property) {
      return (typeof locals[property] === 'object' && Array.isArray(locals[property]));
   }

   let keywords = '';
   let hasCustomDescription = existsStringValue('PAGE_DESCRIPTION');

   if (existsArrayValue('PAGE_KEYWORDS')) {
      const customKeywords = GLOBAL_KEYWORDS.concat(PAGE_KEYWORDS || []);

      keywords = customKeywords.join(', ');
   }
%>

<!DOCTYPE html>
<html lang="en">

<head>
   <% if (PAGE_ROUTE === '/') { %>
      <title>Developar - A progressive web development company</title>
   <% } else { %>
      <title><%= PAGE_NAME %> • Developar</title>
   <% } %>

   <meta charset="UTF-8" />
   <meta name="keywords" content="<%- keywords %>" />

   <% if (hasCustomDescription) { %>
      <meta name="description" content="<%- PAGE_DESCRIPTION %>" />
   <% } else { %>
      <meta name="description" content="Developar is a company which focusing on web technologies for producing high quality apps and building such tools for helping developers, responsive website, developing cross platform mobile apps by using modern frameworks and provide intuitive marketing facility to grow your business or individual." />
   <% } %>

   <meta name="author" content="Developar Team" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="apple-mobile-web-app-title" content="Developar" />
   <meta name="apple-mobile-web-app-status-bar-style" content="default" />
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="theme-color" content="#FFFFFF" />

   <!-- Windows tiles config -->
   <meta name="application-name" content="DevelopAR" />
   <meta name="msapplication-config" content="/browserconfig.xml" />

   <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials" />

   <!-- Favicon sizes -->
   <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
   <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
   <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png" />
   
   <!-- Apple touch icons -->
   <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
   <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png" />
   <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
   <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
   <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
   <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
   <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
   <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-ipad.png" />
   <link rel="apple-touch-icon" sizes="167x167" href="/apple-touch-icon-ipad-retina.png" />
   <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-iphone-retina.png" />
   <link rel="apple-touch-startup-image" sizes="192x192" href="/launch-icon.png" />

   <link rel="mask-icon" href="/mask-icon.svg" color="#527DFF" />

   <!-- Vendor libs -->
   <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css" />
   <script defer type="application/javascript" src="https://unpkg.com/aos@next/dist/aos.js"></script>
   <script async type="application/javascript" src="https://unpkg.com/feather-icons@4.28.0/dist/feather.min.js"></script>

   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179260420-1"></script>
   <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-179260420-1');</script>

   <style type="text/css">
      /*--- Load Questrial fonts ---*/

      /* vietnamese */
      @font-face {
         font-family: "Questrial";
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: local("Questrial Regular"), local("Questrial-Regular"),
            url(https://fonts.gstatic.com/s/questrial/v11/QdVUSTchPBm7nuUeVf70sSFlq20.woff2) format("woff2");
         unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
            U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
         font-family: "Questrial";
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: local("Questrial Regular"), local("Questrial-Regular"),
            url(https://fonts.gstatic.com/s/questrial/v11/QdVUSTchPBm7nuUeVf70sCFlq20.woff2) format("woff2");
         unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
            U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
         font-family: "Questrial";
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: local("Questrial Regular"), local("Questrial-Regular"),
            url(https://fonts.gstatic.com/s/questrial/v11/QdVUSTchPBm7nuUeVf70viFl.woff2) format("woff2");
         unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
            U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
            U+2212, U+2215, U+FEFF, U+FFFD;
      }

      /*--- Load nunito fonts ---*/
      /* cyrillic-ext */
      @font-face {
         font-family: "Nunito";
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: local("Nunito Regular"), local("Nunito-Regular"),
            url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIOOaBXso.woff2) format("woff2");
         unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF,
            U+A640-A69F, U+FE2E-FE2F;
      }

      /* cyrillic */
      @font-face {
         font-family: "Nunito";
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: local("Nunito Regular"), local("Nunito-Regular"),
            url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIMeaBXso.woff2) format("woff2");
         unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
      }

      /* vietnamese */
      @font-face {
         font-family: "Nunito";
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: local("Nunito Regular"), local("Nunito-Regular"),
            url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIOuaBXso.woff2) format("woff2");
         unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169,
            U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
      }

      /* latin-ext */
      @font-face {
         font-family: "Nunito";
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: local("Nunito Regular"), local("Nunito-Regular"),
            url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofIO-aBXso.woff2) format("woff2");
         unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
            U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
      }

      /* latin */
      @font-face {
         font-family: "Nunito";
         font-style: normal;
         font-weight: 400;
         font-display: swap;
         src: local("Nunito Regular"), local("Nunito-Regular"),
            url(https://fonts.gstatic.com/s/nunito/v14/XRXV3I6Li01BKofINeaB.woff2) format("woff2");
         unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
            U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
            U+2212, U+2215, U+FEFF, U+FFFD;
      }

      :root {
         /* Color selection */
         --pcolor: #527dff;
         --pcolor-dark: #2352e0;
         --pcolor-light: #7e9eff;
         --pcolor-fr: #fff;

         --red: #f44336;
         --red-dark: #aa2e25;
         --red-light: #f6685e;
         --red-fr: #fff;

         --blue: #2196f3;
         --blue-dark: #1769aa;
         --blue-light: #4dabf5;
         --blue-fr: #fff;

         --purple: #9c27b0;
         --purple-dark: #6d1b7b;
         --purple-light: #af52bf;
         --purple-fr: #fff;

         --deeppurple: #673ab7;
         --deeppurple-dark: #482880;
         --deeppurple-light: #8561c5;
         --deeppurple-fr: #fff;

         --teal: #009688;
         --teal-dark: #00695f;
         --teal-light: #33ab9f;
         --teal-fr: #fff;

         --green: #4caf50;
         --green-dark: #357a38;
         --green-light: #6fbf73;
         --green-fr: #FFF;

         --indigo: #3f51b5;
         --indigo-dark: #2c387e;
         --indigo-light: #6573c3;
         --indigo-fr: #fff;

         --cyan: #00bcd4;
         --cyan-dark: #008394;
         --cyan-light: #33c9dc;
         --cyan-fr: #222;

         --yellow: #ffeb3b;
         --yellow-dark: #b2a429;
         --yellow-light: #ffef62;
         --yellow-fr: #222;

         --amber: #ffc107;
         --amber-dark: #b28704;
         --amber-light: #ffcd38;
         --amber-fr: #fff;

         --orange: #ff9800;
         --orange-dark: #b26a00;
         --orange-light: #ffac33;
         --orange-fr: #222;

         --deeporange: #ff5722;
         --deeporange-dark: #b23c17;
         --deeporange-light: #ff784e;
         --deeporange-fr: #fff;

         --pink: #e91e63;
         --pink-dark: #a31545;
         --pink-light: #ed4b82;
         --pink-fr: #fff;

         /* Animation manual */
         --anim-duration: 0.7s;

         /* Font style */
         --pfont: "Questrial", Verdana, sans-serif;
         --sfont: "Nunito", sans-serif, arial;
      }

      ::selection {
         background-color: var(--pcolor-light);
         color: var(--pcolor-fr);
      }

      @keyframes fade-in-up {
         from {
            opacity: 0;
            transform: translateY(90px);
         }

         to {
            opacity: 1;
            transform: translateY(0);
         }
      }

      @keyframes fade-in-down {
         from {
            opacity: 0;
            transform: translateY(-90px);
         }

         to {
            opacity: 1;
            transform: translateY(0);
         }
      }

      @keyframes scale-in-down {
         from {
            opacity: 0;
            transform: translateY(-90px) scale(1.8);
         }

         to {
            opacity: 1;
            transform: translateY(0) scale(1);
         }
      }

      .anim.fade-in-up {
         animation-name: fade-in-up;
         animation-duration: var(--anim-duration);
      }

      .anim.fade-in-down {
         animation-name: fade-in-down;
         animation-duration: var(--anim-duration);
      }

      .anim.scale-in-up {
         animation-name: scale-in-down;
         animation-duration: var(--anim-duration);
      }

      html {
         scroll-behavior: smooth;
         scroll-padding-top: 5em;
      }

      body {
         margin: 0;
         padding: 0;
         font-family: var(--pfont);
      }

      hr {
         display: block;
         height: 1px;
         border: 0;
         width: 100%;
         border-top: 1px solid #ccc;
         padding: 0;
      }

      a {
         color: var(--pcolor);
         text-decoration: none;
      }

      ul {
         font-family: var(--sfont);
      }

      h1 {
         font-size: 3em;
         padding: 10px 8px;
         line-height: 1.1em;
      }

      h2 {
         padding: 6px 8px;
         font-size: 2.4em;
         line-height: 1.35em;
      }

      h3 {
         padding: 4px 8px;
         font-size: 1.65em;
         line-height: 1.4em;
      }

      h4 {
         padding: 4px 8px;
         font-size: 1.4em;
         line-height: 1.3em;
      }

      h5 {
         padding: 3px 8px;
         font-size: 1.2em;
         line-height: 1.2em;
      }

      h6 {
         padding: 2px 8px;
         font-size: 1em;
         line-height: 1.1em;
      }

      h1,
      h2,
      h3,
      h4,
      h5, 
      h6 {
         margin: 0;
         font-weight: normal;
         letter-spacing: 0.5px;
      }

      p {
         margin: 0;
         padding: 8px;
         font-family: var(--sfont);
         color: #444;
      }

      a[type="button"] {
         display: flex;
         width: fit-content;
         flex-direction: row;
         align-items: center;
         justify-content: center;
         min-width: 7em;
         min-height: 2em;
         padding-left: 10px;
         padding-right: 10px;
         font-size: 16px;
         border-radius: 6px;
         font-family: var(--pfont);
         background-color: #fff;
         color: var(--pcolor);
         transition: background-color 0.15s ease;
      }

      a[type="button"].icon-button {
         display: flex;
         min-width: 8em;
         flex-direction: row;
         align-items: center;
      }

      a[type="button"].icon-button .ic {
         padding-left: 2px;
         padding-right: 2px;
      }

      a[type="button"].icon-button .ic svg {
         width: 18px;
         height: 18px;
         vertical-align: middle;
      }

      a[type="button"].icon-button .label {
         padding-left: 2px;
         padding-right: 2px;
      }

      a[type="button"].outline,
      button.outline {
         border-width: 1px;
         border-style: solid;
         border-color: var(--pcolor);
         background-color: transparent;
         color: var(--pcolor);
         transition: background-color 0.1s linear, color 0.15s linear;
      }

      a[type="button"].outline:hover {
         background-color: var(--pcolor);
         color: var(--pcolor-fr);
      }

      a[type="button"].filled {
         background-color: var(--pcolor);
         color: #fff;
      }

      a[type="button"].filled:hover {
         background-color: var(--pcolor-dark);
         box-shadow: 1px 1px 12px #ddd;
      }

      a[type="button"].text {
         background-color: transparent;
         color: var(--pcolor);
      }

      a[type="button"].icon {
         background-color: transparent;
      }

      a[type="button"].icon svg {
         stroke: var(--pcolor);
      }

      a[type="button"].icon.white svg {
         stroke: #fff;
      }

      a[type="button"].text-white {
         background-color: transparent;
         color: #fff;
      }

      a.hoverable:hover {
         text-decoration: underline;
      }

      a.focused:focus {
         text-decoration: underline;
      }

      button {
         margin: 4px;
         min-width: 8em;
         min-height: 2.4em;
         font-family: var(--pfont);
         border: none;
         outline: none;
         border-radius: 8px;
         background-color: transparent;
         color: var(--pcolor);
      }

      button.primary {
         background-color: var(--pcolor);
         color: var(--pcolor-fr);
         transition: background-color 0.15s linear;
      }

      button.primary:hover {
         background-color: var(--pcolor-dark);
      }

      button.success {
         background-color: var(--green);
         color: var(--green-fr);
      }

      button.icon {
         width: fit-content;
         min-width: fit-content;
         min-height: fit-content;
         background-image: none;
         border-radius: 6px;
         background-color: transparent;
      }

      button.icon svg {
         vertical-align: middle;
         stroke: var(--pcolor);
      }

      button.block {
         display: block;
         min-width: 100% !important;
      }

      a,
      button,
      img {
         outline: none;
         -webkit-tap-highlight-color: transparent;
         -webkit-user-select: none;
         -webkit-user-drag: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
      }

      button::-moz-focus-inner,
      a::-moz-focus-inner {
         border: 0;
      }

      a.icon-link .label {
         padding: 0 1px;
      }

      a.icon-link .ic {
         padding: 0 1px;
      }

      a.icon-link .ic svg {
         width: 20px;
         height: 20px;
         vertical-align: middle;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="tel"],
      input[type="url"],
      textarea {
         padding: 8px 10px;
         min-width: 14em;
         font-size: 1em;
         outline: none;
         border-width: 2px;
         border-style: solid;
         border-color: transparent;
         background-color: rgb(241, 241, 241);
         border-radius: 8px;
         font-family: var(--pfont);
         transition: background-color 0.15s linear, border-color 0.25s ease;
      }

      input[type="text"]:focus,
      input[type="email"]:focus,
      input[type="password"]:focus,
      input[type="tel"]:focus,
      input[type="url"]:focus,
      textarea:focus {
         background-color: transparent;
         border-color: var(--pcolor);
      }

      input[type="checkbox"] {
         position: relative;
         margin: 0 2px;
         display: inline-block;
         padding: 6px;
         background-color: transparent;
         border-width: 1px;
         border-style: solid;
         border-color: #ccc;
         border-radius: 4px;
         outline: none;
         vertical-align: middle;
         -webkit-appearance: none;
         transition: background-color 0.1s linear;
      }

      input[type="checkbox"]:active,
      input[type="checkbox"]:checked:active {
         background-color: #eee;
      }

      input[type="checkbox"]:checked {
         color: var(--pcolor-fr);
         background-color: var(--pcolor);
         border-color: var(--pcolor);
      }

      input[type="checkbox"]:checked:after {
         position: absolute;
         content: "\2714";
         top: -1px;
         left: 1.5px;
         font-size: 10px;
         font-weight: lighter;
         color: var(--pcolor-fr);
      }

      button[disabled],
      input[type='submit'][disabled],
      input[type='reset'][disabled] {
         background-color: #EEE;
         color: #888;
         pointer-events: none;
      }

      select {
         padding: 8px 10px;
         min-width: 15.5em;
         font-size: 1em;
         border-width: 2px;
         border-style: solid;
         border-color: transparent;
         border-radius: 8px;
         background-color: #eee;
         color: #555;
         outline: none;
         font-family: var(--pfont);
      }

      select:focus {
         border-color: var(--pcolor);
         background-color: transparent;
      }

      label {
         display: block;
         font-weight: 600;
         padding: 6px 4px;
         font-size: 14px;
         font-family: var(--pfont);
         user-select: none;
      }

      label.inline {
         display: inline-block;
         padding: 0;
         font-size: inherit;
         font-weight: inherit;
      }

      @media screen and (max-width: 767px) {
         h1 {
            font-size: 2.4em;
         }
      }

      /* Custom scrollbar */
      ::-webkit-scrollbar {
         width: 8px;
      }

      ::-webkit-scrollbar-track {
         background-color: #fff;
         border-left: 1px solid #eee;
      }

      ::-webkit-scrollbar-thumb {
         background-color: #ccc;
         border-radius: 25px;
         transition: background-color 0.25s linear;
      }

      ::-webkit-scrollbar-thumb:hover {
         background-color: #bbb;
      }

      ::-webkit-scrollbar-thumb:active {
         background-color: var(--pcolor);
      }

      main:not(.no-margin) {
         /* Adjust with fixed header */
         margin-top: 4.6em;
      }

      main.x-margin {
         margin-top: 12em;
      }
   </style>
   <link rel="stylesheet" type="text/css" href="/master.css" crossorigin="anonymous" />
   <script defer type="application/javascript" src="/app.mjs" crossorigin="anonymous"></script>
</head>

<body>
   <%- body %>
</body>

</html>