<style type="text/css">
   main section#privacy-note {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }

   main section#privacy-note .wrapper.content {
      padding: 2em 0;
      width: 60%;
   }

   main section#privacy-note .wrapper.content .note-block {
      padding: 1.4em 0;
   }

   main section#privacy-note .wrapper.content .note-block h3 {
      color: #444;
   }

   @media screen and (max-width: 767px) {
      main section#privacy-note .wrapper.content {
         width: 90%;
      }
   }
</style>

<%- include('partials/_header', { raised: true }) %>

<main>
   <section id="privacy-note">
      <div class="wrapper content">
         <header>
            <h1>Your <span class="text-blur">Privacy</span></h1>
         </header>

         <div>
            <p>
               Your privacy is our main concern.
               We respect it and never spam, We neither sell,
               rent nor give away your data to any third parties or people,
               so they never send unwanted emails or messages to you.
            </p>

            <p>
               Maintaining your privacy is the most important duty to us, and
               it helps us to gain customer's confidence and long term relationship.
            </p>

            <p>
               We are driven to process your data as per the International Legal
               Standards, including GDPR and other applicable Data Protection Laws
               and Data Protection Developing with our best technology.
            </p>
         </div>

         <div class="note-block relate-hash" id="how-collect-information">
            <h3>How DevelopAR Collect Information</h3>

            <p>
               You can browse our website without providing any information and
               authentication email, but we may ask you to provide your personal
               information without any trouble If you want to Contact Us through
               our contact us page for service or you are interested to develop your
               personal or business website or software with DevelopAR and team.
            </p>
         </div>

         <div class="note-block relate-hash" id="how-protect-data">
            <h3>How Protect Data</h3>

            <p>
               We take reasonable steps to protect your personal information when you
               provide your data from your device to our site www.developar.in and to
               protect such information from loss, misuse, unauthorized access, disclosure,
               alteration, or destruction. You should keep in your mind that no Internet
               transmission is ever 100% secure or error-free, so you should, therefore,
               take special care in deciding what information you send to us via email.
            </p>
            <p>
               We have our developers to provide the best security in your associated website
               or software we never use third party vendors to provide the necessary protection.
            </p>
         </div>

         <div class="note-block relate-hash" id="how-use-data">
            <h3>How Use Data</h3>

            <p>
               The data we collect from contact us or order form in pricing section.
            </p>

            <div>
               <p>We use this data in order to: </p>

               <ul>
                  <li>
                     <p>Contact you about your software or website product.</p>
                  </li>
                  <li>
                     <p>Inform you to our new services or updated features</p>
                  </li>
                  <li>
                     <p>To maintain our services by feedback of yours</p>
                  </li>
                  <li>
                     <p>Data for consulting, research and marketing.</p>
                  </li>
                  <li>
                     <p>For advertising and promotional events from us.</p>
                  </li>
               </ul>
            </div>
         </div>

         <div class="note-block relate-hash" id="email-addresses">
            <h3>E-Mail addresses</h3>

            <p>
               We collect email addresses that are entered by viewer or user in
               forms like Contact Us, Order form in pricing section and newsletter.
            </p>
            <p>
               We use this email addresses for just marketing purpose and to provide
               you the updated features and other new information related to our company
               events and promotions.
            </p>
         </div>

         <div class="note-block relate-hash" id="security">
            <h3>Security</h3>

            <p>
               Our site has SSL certificate so if you are sharing your sensitive information
               like client do payment activity with our company, we encrypt it by SSL.
            </p>
         </div>

      </div>
   </section>
</main>

<%- include('partials/_footer') %>