<%
   locals.PAGE_DESCRIPTION = "See our services agreement that contains the terms and conditions that administer your subscription to different types of services like static website, dynamic website, e-commerce website, and different software development provided by Developar.";
   locals.PAGE_KEYWORDS = [
      'Developar Terms & Conditions',
      'Developar Terms',
      'Developar Legal',
      'Developar Terms Aggrement',
      'Developar Terms of Service'
   ];
%>

<style type="text/css">
   main section#terms-note {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
   }

   main section#terms-note .wrapper.content {
      padding: 2em 0;
      width: 60%;
   }

   main section#terms-note .wrapper.content .note-block {
      padding: 1.4em 0;
   }

   main section#terms-note .wrapper.content .note-block .sub-note {
      margin-top: 6px;
      margin-bottom: 6px;
      list-style-type: disc;
   }

   main section#terms-note .wrapper.content .note-block .sub-note li {
      padding-top: 0.8em;
   }

   main section#terms-note .wrapper.content .note-block h3 {
      color: #444;
   }

   main section#terms-note .wrapper.content .note-block h4 {
      color: #555;
   }

   @media screen and (max-width: 767px) {
      main section#terms-note .wrapper.content {
         width: 90%;
      }
   }
</style>

<%- include('partials/_header', { raised: true }) %>

<main>
   <section id="terms-note">
      <div class="wrapper content">
         <header>
            <h1><span class="text-blur">Our</span> Terms and conditions</h1>
         </header>

         <div>
            <p>
               These services agreement contains the complete terms and
               conditions which administer your subscription of different
               types of development like static website, dynamic website,
               e-commerce website, and different software development provided
               by DevelopAR in the Pricing Section of www.developar.in.
            </p>

            <p>
               You acknowledge that you agree to its terms and conditions and
               all policies posted on the DevelopAR's site www.developar.in.
               As referred to in this agreement.
            </p>

            <p>
               The following Terms and Conditions apply to all Website Development
               and Software Development services provided by DevelopAR to the client.
            </p>
         </div>

         <div class="note-block relate-hash" id="acceptance">
            <h3>Acceptance</h3>

            <p>
               No Client needs to have signed an acceptance of these terms and conditions
               for them to apply.
            </p>

            <p>
               If a Client accepts a quote then the Client will be deemed
               to have satisfied themselves as to the terms applying and have accepted
               these terms and conditions.
            </p>
         </div>

         <div class="note-block relate-hash" id="charges">
            <h3>Charges</h3>

            <p>
               Charges for services to be provided by DevelopAR are defined in the
               project quotation that the Client receives via e-mail.
            </p>

            <ul class="sub-note">
               <li class="relate-hash" id="website-development">
                  <h4>Website Development</h4>

                  <p>
                     In the Website Development minimum pricing is already declared in the
                     pricing section on DevelopAR’s official website www.developar.in.
                     The first client has to fill-up the form according to his/her requirements.
                  </p>

                  <p>
                     After the form is filled up the DevelopAR and team will contact you as soon
                     as possible and gather requirements from the client and create some of the
                     UI for the client. Then the Client has to choose the UI and purchase the 50%
                     payment of total.
                  </p>

                  <p>
                     The cost of the development will vary according to the Client’s requirements.
                  </p>

                  <p>
                     There are no hidden charges that will be charged but the client will have to
                     pay for the domain and hosting.
                  </p>

                  <p>
                     Maintenance will be free for a specified time during delivery, it will vary according to the
                     client's budget.
                  </p>
                  <br />
               </li>

               <li class="relate-hash" id="software-development">
                  <h4>Software Development</h4>

                  <p>
                     In the Software Development minimum pricing is already declared in
                     the pricing section on DevelopAR’s official website www.developar.in.
                     The first client has to fill-up the form according to his/her requirements.
                  </p>

                  <p>
                     After the form is filled up the DevelopAR and team will contact you as
                     soon as possible and gather requirements from the client.
                  </p>

                  <p>
                     The cost of the development will vary according to the Client’s requirements.
                  </p>

                  <p>
                     Maintenance will have to be paid separately if the client has to make any changes.
                  </p>
               </li>

               <li class="relate-hash" id="software-development">
                  <h4>Digital Marketing</h4>

                  <p>
                     In the Digital Marketing minimum pricing is already declared in
                     the pricing section on DevelopAR’s official website www.developar.in.
                     The first client has to fill-up the form according to his/her requirements.
                  </p>

                  <p>
                     After the form is filled up the DevelopAR and team will contact you as
                     soon as possible and gather requirements from the client.
                  </p>

                  <p>
                     In digital marketing, we will provide services like SEO, Social Media marketing,
                     but the client wants to choose any of the services due to a low budget then the
                     client can choose that particular service.
                  </p>

                  <p>
                     The final budget could be varying according to the client's requirements.
                  </p>
               </li>

               <li class="relate-hash" id="software-development">
                  <h4>Maintenance</h4>

                  <p>
                     In the Maintenance service pricing is already declared in
                     the pricing section on DevelopAR’s official website www.developar.in.
                     The first client has to fill-up the form according to his/her requirements.
                  </p>

                  <p>
                     After the form is filled up the DevelopAR and team will contact you as
                     soon as possible and gather requirements from the client.
                  </p>

                  <p>
                     If the client is an existing client, he/she can get a special discount from us.
                  </p>

                  <p>
                     If the client adds something after the requirement gathering, he/she will have to pay separately.
                  </p>

                  <p>
                     The final budget could be varying according to the client's requirements.
                  </p>
               </li>
            </ul>

         </div>

         <div class="note-block relate-hash" id="payment">
            <h3>Payment</h3>

            <p>
               Invoices will be provided by DevelopAR after complete payment. Invoice is normally
               sent via email, however, the client may choose to receive hard copy invoices.
            </p>
         </div>

         <div class="note-block relate-hash" id="additional-expenses">
            <h3>Additional Expenses</h3>

            <p>
               There are no additional expenses except for Domain charges and Hosting Charges.
            </p>

            <p>
               The client has to pay for maintenance after the termination of warranty specified time in web and
               software products.
            </p>
         </div>
      </div>
   </section>
</main>

<%- include('partials/_footer') %>