<style type="text/css">
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 70vh;
		overflow: hidden;
		color: #555555;
	}
</style>

<main>
	<section class="status-info text-center">
		<div class="company-logo">
			<img 
				src="https://developarcdn.vercel.app/logo/favicon-gray.png" 
				width="230" 
				height="auto" 
				alt="DevelopAR" />
		</div>
		<header>
			<h2>404 Page not found</h2>
		</header>
		<br />
		<p><a class="text-blur hoverable focused" href="http://developar.in" title="Goto developar.in">www.developar.in</a></p>
	</section>
</main>