<style type="text/css">
	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 70vh;
		overflow: hidden;
		color: var(--red);
	}
	main .status-info .company-logo {
		padding: 1.5rem 1rem;
	}
</style>

<main>
	<section class="status-info text-center">
		<div class="company-logo">
			<img 
				src="https://static.developar.in/logo/red.png" 
				width="110" 
				height="auto" 
				alt="DevelopAR" />
		</div>
		<header>
			<h2>404 Page not found</h2>
		</header>
		<p>
			<a class="text-blur hoverable focused" href="http://developar.in" title="Goto developar.in">
				<small>www.developar.in</small>
			</a>
		</p>
	</section>
</main>